body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  margin: 8px;
  padding: 8px;
  font-size: 16pt;
}

.content {
  background: #e3f4ff;
  padding: 16px 8px;
  /*Putting two values adjusts top and then right values - doesn't need bottom or left, as it auto calculates those values*/
  margin-bottom: 8px;
}

.button-container {
  background: #e3f4ff;
  padding: 8px;
  margin: auto;
  width: 350px;
  
}

button {
  display: block;
  margin: auto;
  width: 30%;
  background: white;
  border: 1px solid #eee;
}